################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Notes-WebApp-Tests/bin/Debug/net6.0/jsonSerializationTest.json
/source/Notes-WebApp-Tests/bin/Debug/net6.0/testFile.txt
